<a href="https://github.com/SquireUA">Секретарюк Валерій</a>, 2023

<h1 align="center">Лабораторна робота №6. Функції</h1>

<h2>Завдання 1</h2>

In [4]:
def is_year_leap(year):
    if year < 1582:
        return False
    else:
        if year % 4 != 0:
            return False
        else:
            if year % 100 != 0:
                return True
            elif year % 400 != 0:
                return False
            else:
                return True

test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]
for i in range(len(test_data)):
  yr = test_data[i]
  print(yr,"->",end="")
  result = is_year_leap(yr)
  if result:
      print("OK")
  else:
      print("Failed")

1900 ->Failed
2000 ->OK
2016 ->OK
1987 ->Failed

<h2>Завдання 2</h2>

In [5]:
def is_year_leap(year):
    if year < 1582:
        return False
    else:
        if year % 4 != 0:
            return False
        else:
            if year % 100 != 0:
                return True
            elif year % 400 != 0:
                return False
            else:
                return True

test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]
for i in range(len(test_data)):
  yr = test_data[i]
  print(yr,"->",end="")
  result = is_year_leap(yr)
  if result:
      print("OK")
  else:
      print("Failed")

1900 ->Failed
2000 ->OK
2016 ->OK
1987 ->Failed

<h2>Завдання 3</h2>

In [6]:
def day_of_year(day, month, year):
    if year < 1582 or month > 12 or days_in_month(year,month) < day:
        return
    count = 0
    for i in range(1, month):
        count += days_in_month(year, i)
    return count + day

print(day_of_year(1,11,2002))

NameError: name 'days_in_month' is not defined

<h2>Завдання 4</h2>

In [ ]:
def is_prime(num):
    flag = True
    for i in range(2, num):
        if num % i == 0:
            flag = False
            break
    return flag

for i in range(1, 20):
   if is_prime(i + 1):
           print(i + 1, end=" ")
print()

<h2>Завдання 5</h2>

In [ ]:
def liters_100km_to_miles_gallon(liters):
    galon = liters / 3.785411784
    miles = 100_000 / 1609.344
    return miles / galon

def miles_gallon_to_liters_100km(miles):
    liters = 3.785411784
    kilometers = miles * 1609.344
    return liters / kilometers

print(liters_100km_to_miles_gallon(3.9))
print(liters_100km_to_miles_gallon(7.5))
print(liters_100km_to_miles_gallon(10.))
print(miles_gallon_to_liters_100km(60.3))
print(miles_gallon_to_liters_100km(31.4))
print(miles_gallon_to_liters_100km(23.5))

<h2>Завдання 6</h2>

In [7]:
def modul(num):
    if num < 0:
        return num * -1
    else:
        return num

def is_a_triangle(a, b, c):
    if modul(a - b) < c < a + b and modul(a - c) < b < a + c and modul(c - b) < a < c + b:
        return True
    else:
        return False
    

print(is_a_triangle(3, 3, 3))

True

<h2>Завдання 7</h2>

In [8]:
def is_a_right_triangle(a, b, c):
    if is_a_triangle(a, b, c):
        if a**2 + b**2 == c**2 or a**2 + c**2 == b**2 or c**2 + b**2 == a**2:
            return True
        else:
            return False
    else:
        return False

print(is_a_right_triangle(3,4,5))

True

<h1 align="center">Контрольні запитання</h1>

<ol>
    <li>Виведе помилку про неіснування зміної alt</li>
    <li>2 <br> 1</li>
    <li>2 <br> 3</li>
    <li>2 <br> 2</li>
</ol>